<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Capitalist</title>
    <link rel="stylesheet" href="../styles/style.css">
    <style>
       
    </style>
</head>
<body>
    <canvas id="capitalist" width="960" height="640"></canvas>

    <button id="restart">Restart</button>

    <script src="../app/models.js" defer></script>
    <script src="../app/controllers.js" defer></script>
    <script src="../app/helpers.js" defer></script>
    <script src="../app/game.js" defer></script>
</body>
</html>
